body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */

header .container {
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin-right: 15px;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

header {
    background: linear-gradient(rgba(84, 93, 220, .9), rgba(96, 171, 245, .9)), url('../images/mad-portada.jpeg');
    height: 100vh;
    background-size: cover;
}

#container-title-flex {
    display: flex;
    justify-content: center;
    margin: 18vh 0;
    max-width: 1580px;
    width: 100%;
}

h1 {
    font-size: 60px;
    color: #fff;
    margin: 0;
}

h2 {
    font-size: 25px;
    color: #fff;
}

.container-title {
    text-align: center;
}

.container-title a, #about a, #blog a, #what-wait a, #contact input[type="submit"] {
    font-size: 14px;
    color: #fff;
    background: #5cb8ff;
    padding: 14px 24px;
    width: 128px;
    display: inline-block;
    border-radius: 10px;
}

p.logo {
    color: #fff;
    font-size: 20px;
}

nav ul li a {
    color: #fff;
}

/* SECTION ABOUT */

h3 {
    text-align: center;
    font-size: 55px;
    font-weight: normal;
}

#about .container-about {
    display: flex;
    justify-content: space-around;
}

#about .container-about-text {
    width: 42%;
}

/* SECTION SKILLS */

.container-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#skills .item {
    width: 28%;
    text-align: center;
}

#skills ul li {
    list-style: none;
}

#skills ul li:nth-child(2) {
    font-weight: bold;
    font-size: 20px;
    margin: 5px 0 20px 0;
}

#skills ul li:nth-child(3) {
    line-height: 30px;
}

/* SECTION PROJECTS */

button.owl-prev, button.owl-next {
    font-size: 40px !important;
}

span {
    color: #71bcfa;
}

#projects p {
    text-align: center;
    color: #000;
}

