body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */

header .container {
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin-right: 15px;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 90%;
    margin: auto;
}
