body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */

header .container {
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin-right: 15px;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

header {
    background: linear-gradient(rgba(84, 93, 220, .9), rgba(96, 171, 245, .9)), url('../images/portada.jpg');
    height: 100vh;
    background-size: cover;
}

#container-title-flex {
    display: flex;
    justify-content: center;
    margin: 18vh 0;
    max-width: 1580px;
    width: 100%;
}

h1 {
    font-size: 60px;
    color: #fff;
    margin: 0;
}

h2 {
    font-size: 25px;
    color: #fff;
}

.container-title {
    text-align: center;
}

.container-title a, #about a, #contact a {
    font-size: 14px;
    color: #fff;
    background: #5cb8ff;
    padding: 14px 24px;
    width: 128px;
    display: inline-block;
    border-radius: 10px;
}

p.logo {
    color: #fff;
    font-size: 20px;
}

nav ul li a {
    color: #fff;
}

/* SECTION ABOUT */

h3 {
    text-align: center;
    font-size: 55px;
    font-weight: normal;
}

#about .container-about {
    display: flex;
    justify-content: space-around;
}

#about .container-about-text {
    width: 42%;
}

/* SECTION SKILLS */

.container-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#skills .item {
    width: 28%;
    text-align: center;
}

#skills ul li {
    list-style: none;
}

#skills ul li:nth-child(2) {
    font-weight: bold;
    font-size: 20px;
    margin: 5px 0 20px 0;
}

#skills ul li:nth-child(3) {
    line-height: 30px;
}

/* SECTION PROJECTS */

button.owl-prev, button.owl-next {
    font-size: 40px !important;
}

span {
    color: #71bcfa;
}

#projects p {
    text-align: center;
    color: #000;
}
/* SECTION COMUNITY */

.container-comunity {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #fff;
}

.comunity {
    width: 24%;
    padding: 34px 30px 38px 30px;
    border-radius: 10px;
    margin-bottom: 40px;
    position: relative;
}

.comunity h4 {
    font-size: 30px;
    margin: 0;
}

.comunity p {
    margin-bottom: 20px;
    height: 194px;
}

.container-comunity .violeta {
    background-image: linear-gradient(to top, #5055df, #6d68f3);
    box-shadow: 0 12px 30px 0 rgba(80, 85, 223, .37);
}

.container-comunity .celeste {
    background-image: linear-gradient(to top, #40a8f9, #5cb8ff);
    box-shadow: 0 12px 30px 0 rgba(86, 163, 222, .3);
}

.ondas {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 75%;
}

.icono {
    float: right;
}

/* SECTION CONTACT */

#contact {
    background: linear-gradient(rgba(84, 93, 220, .94), rgba(96, 171, 245, .9));
    text-align: center;
    padding: 50px 0;
    margin-top: 40px;
}

#contact h3 {
    font-size: 25px;
    color: #fff;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    color: #fff;
}

.contact-info i {
    vertical-align: middle;
    margin-right: 10px;
}

/* FOOTER */

footer {
    background: #2f2f2f;
    padding: 40px 0;
    text-align: center;
    margin-top: 0px;
    color: #fff;
}

footer .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer i {
    margin: 0 40px;
    transform: rotate(0);
    transition: 0.4s;
}

footer i:hover {
    transform: rotate(360deg);
    transition: 0.4s;
}

footer p {
    margin-top: 40px;
}

/* WHATSAPP BOTON */

#whatsapp {
    position: fixed;
    top: 80%;
    right: 1%;
}

/* ANIMATION */

html {
    scroll-behavior: smooth;
}

#about, #skills, #projects, #comunity, #contact {
    padding: 90px 0;
}

#comunity {
    padding: 70px 0;
}

.menu-icon {
    display: none;
}

@media (max-width: 800px) {

    .menu-icon {
        display: block;
        float: right;
        width: 40px;
        height: 35px;
        margin-top: 15px;
    }

    header nav {
        position: absolute;
        top: 83px;
        left: 0;
        height: 268px;
        background: #5cb8ff;
        width: 100%;
        display: none;
    }

    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin-bottom: 15px;
    }
    
    h1 {
        font-size: 44;
    }

    h2 {
        font-size: 19px;
    }

    #about .container-about {
        flex-direction: column;
    }

    #about img {
        width: 100%;
    }

    #about .container-about-text {
        width: 100%;
    }

    #comunities .container-comunity {
        flex-direction: column;
    }

    h3 {
        font-size: 45px;
    }

    #skills .container-work {
        flex-direction: column;
    }

    #skills .item {
        width: 100%;
    }

    #skills .item ul {
        padding: 0;
    }

    #comunities .comunity {
        width: 82%;
        padding: 34px 30px 69px 30px;
    }

    #comunities .icono {
        margin-top: 25px;
    }

    #contact .mail, #contact .whatsapp {
        font-size: 10px;
    }

    footer i {
        margin: 0 24px;
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    header {
        height: 65vh;
    }

    #comunities .comunity {
        margin: auto;
        margin-bottom: 45px;
    }

    #comunities h4 {
        font-size: 35px;
    }

    #comunities p {
        font-size: 24px;
    }
}
